/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----------------------------- End of reset --------------------------- */

body {
	font-family: 'Proxima Nova Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	background-color: #c2e5a2;
}

.logo {
	position: absolute;
	top: 20px;
	left: 20px;
}

h1 {
  font-size: 28px;
	font-weight: 200;
  text-align: center;
  margin-top: 20px;
}

#loanmap {
	height: 500px;
	width: 950px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #000;
}

#container {
	width: 1114px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

#recent {
	border: 2px solid #74b446;
	border-radius: 10px;
	padding: 5px;
	width: 1100px;
  line-height: 1.3;
	background-color: #fff;
}

#recent li {
  text-indent: -1.5em;
  margin-left: 1.5em;
}

h2 {
	color: #4b9123;
  font-size: 18px;
  text-align: center;
}

.loans {
	cursor: pointer;
	font-size: 16px;
}

.loans:hover {
	color: #4b9123;
}

.selected {
	color: #4b9123;
}

#refresh {
	margin-top: 5px;
}

.button {
	background-color: #74b446;
	border: 1px solid #fff;
	border-radius: 3px;
	color: #fff;
	font-size: 18px;
	margin: 0 auto;
}

.wintitle {
	text-align: center;
  text-decoration: underline;
	padding-bottom: 5px;
}

.winname {
  font-style: italic;
}

.winloc {
	padding-bottom: 5px;
}

.wincaption {
	padding: 5px 0;
	font-size: 14px;
}

